footer {
  background-color: #051c3f;
  height: 72px;
  color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem 0 6rem;
}

.github-link,
.github-link:visited {
  color: #fbfbfb;
}

.status-link,
.status-link {
  color: #fbfbfb;
  text-decoration: none;
}

.status-link:hover {
  text-decoration: underline;
}
